<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="templateSvc.template$ | async as template else loading">
  <mat-toolbar class="app-toolbar">
    <span class="header"><strong>Template - </strong>{{template?.title}}</span>
    <button mat-stroked-button
            (click)="editTemplate(template)">Edit Template</button>
    <span fxFlex><button mat-stroked-button
            (click)="managePlanes(template)">Manage Planes</button></span>
    <button mat-stroked-button
            color = "primary"
            (click)="generateManifest(template)">Generate Manifest</button>
  </mat-toolbar>
  <ng-template #loadingPlanes>
    <mat-progress-bar mode="indeterminate"
                      color="accent"></mat-progress-bar>
  </ng-template>
  <ng-container *ngIf="templateSvc.templatePlanes$ | async as planes else loading">
    <section fxLayout="row | wrap"
             fxLayoutAlign="start start"
             class="background stacked p8"
             *ngIf="planes?.length > 0">
      <plane-manager *ngFor="let p of planes"
                     [plane]="p"
                     (add)="addPeople($event)"
                     (remove)="removePlane($event)">
        <template-people [plane]="p"
                         (remove)="removePerson($event, template)"
                         (transfer)="transferPerson($event, template)"></template-people>
      </plane-manager>
    </section>
    <p class="mat-subheading-2"
       *ngIf="!(planes?.length > 0)">No Planes Available</p>
  </ng-container>
</ng-container>
