<mat-toolbar class="app-toolbar">
  <span class="header">Templates</span>
  <button mat-stroked-button
          (click)="addTemplate()">Add Template</button>
</mat-toolbar>
<ng-template #loadingTemplates>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<section fxLayout="column"
         fxLayoutAlign="start stretch"
         class="container"
         *ngIf="templateSrc.queryResult$ | async as qr else loadingTemplates">
  <section fxLayout="row"
           fxLayoutAlign="start center">
    <searchbar label="Search Templates"
               fxFlex
               [minimum]="1"
               (search)="templateSrc.onSearch($event)"
               (clear)="templateSrc.clearSearch()"></searchbar>
    <mat-paginator [length]="qr?.totalCount"
                   [pageSize]="qr?.pageSize"
                   [pageSizeOptions]="templateSrc.pageSizeOptions"
                   [pageIndex]="qr?.page - 1"
                   (page)="templateSrc.onPage($event)"></mat-paginator>
  </section>
  <section fxLayout="row | wrap"
           fxLayoutAlign="start start"
           class="background stacked"
           *ngIf="qr?.data?.length > 0">
    <template-card *ngFor="let template of qr?.data"
                   [template]="template"
                   (edit)="editTemplate($event)"
                   (generate)="generateManifest($event)"
                   (remove)="removeTemplate($event)"></template-card>
  </section>
  <p class="mat-subheading-2"
     *ngIf="!(qr?.data?.length > 0)">No Templates Available</p>
</section>
