<mat-toolbar class="app-toolbar">
  <span class="header">Open Manifests</span>
</mat-toolbar>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<section fxLayout="column"
         fxLayoutAlign="start stretch"
         class="container"
         *ngIf="manifestSrc.queryResult$ | async as qr else loading">
  <section fxLayout="row"
           fxLayoutAlign="start center">
    <searchbar label="Search"
               fxFlex
               [minimum]="1"
               (search)="manifestSrc.onSearch($event)"
               (clear)="manifestSrc.clearSearch()"></searchbar>
    <mat-paginator [length]="qr?.totalCount"
                   [pageSize]="qr?.pageSize"
                   [pageSizeOptions]="manifestSrc.pageSizeOptions"
                   [pageIndex]="qr?.page - 1"
                   (page)="manifestSrc.onPage($event)"></mat-paginator>
  </section>
  <ng-container *ngIf="qr.data?.length > 0">
    <manifest-detail *ngFor="let manifest of qr.data"
                     [manifest]="manifest"></manifest-detail>
  </ng-container>
  <p class="mat-subheading-2"
     *ngIf="!(qr.data?.length > 0)">No Open Manifests Available</p>
</section>
