<section class="mat-typography mat-app-background app-container"
         [ngClass]="themer.isLight ? 'app-light' : 'app-dark'">
  <ng-container *ngIf="banner.config$ | async as config else loading">
    <banner [label]="config.label"
            [background]="config.background"
            [color]="config.color"></banner>
    <mat-toolbar class="app-toolbar"
                 color="primary">
      <span fxFlex>Fire Alarm</span>
      <button mat-icon-button
              (click)="themer.toggleTheme()">
        <mat-icon [color]="themer.isLight ? 'accent' : 'default'">
          {{themer.isLight ? 'brightness_5' : 'brightness_3'}}
        </mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </ng-container>
  <ng-template #loading>
    <mat-progress-bar mode="indeterminate"
                      color="accent"></mat-progress-bar>
  </ng-template>
</section>
