<div class="mat-typography">
  <h2 mat-dialog-title>
    <span *ngIf="manifest?.id > 0">Update Manifest</span>
    <span *ngIf="!(manifest?.id > 0)">Add Manifest</span>
  </h2>
  <mat-dialog-content>
    <form [formGroup]="manifestForm"
          (ngSubmit)="saveManifest()">
      <ng-template #loading>
        <mat-progress-bar mode="indeterminate"
                          color="accent"></mat-progress-bar>
      </ng-template>
      <section fxLayout="column"
               fxLayoutAlign="start stretch"
               class="p8"
               *ngIf="orgSvc.organizations$ | async as organizations else loading">
        <mat-form-field>
          <mat-label>Organization</mat-label>
          <mat-select formControlName="organizationId">
            <mat-option *ngFor="let o of organizations"
                        [value]="o.id">{{o.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="manifestForm?.controls?.organizationId?.errors?.required">Organization is a required
            selection</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Title</mat-label>
          <input matInput
                 formControlName="title">
          <mat-error *ngIf="manifestForm?.controls?.title?.errors?.required">Title is a required field</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput
                    mat-autosize
                    formControlName="description"
                    [matAutosizeMinRows]="4"
                    [matAutosizeMaxRows]="6"></textarea>
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date Expected</mat-label>
          <input matInput
                 [matDatepicker]="expectedPicker"
                 formControlName="dateExpected">
          <mat-datepicker-toggle matSuffix
                                 [for]="expectedPicker"></mat-datepicker-toggle>
          <mat-datepicker #expectedPicker></mat-datepicker>
          <mat-error *ngIf="manifestForm?.controls?.dateExpected?.errors?.required">Date Expected is a required field
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Date Executed</mat-label>
          <input matInput
                 [matDatepicker]="executedPicker"
                 formControlName="dateExecuted">
          <mat-datepicker-toggle matSuffix
                                 [for]="executedPicker"></mat-datepicker-toggle>
          <mat-datepicker #executedPicker></mat-datepicker>
          <mat-hint>Optional</mat-hint>
        </mat-form-field>
      </section>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button
            class="color success"
            [disabled]="manifestForm.invalid"
            (click)="saveManifest()">Save</button>
    <button mat-stroked-button
            mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
