<div class="mat-typography">
  <h2 mat-dialog-title>{{plane?.name}} People - {{selected?.length + plane?.reserved}} / {{plane?.capacity}}</h2>
  <mat-dialog-content>
    <section fxLayout="row"
             fxLayoutAlign="start stretch">
      <section fxLayout="column"
               fxLayoutAlign="start stretch"
               fxFlex
               class="container">
        <mat-toolbar>Available People</mat-toolbar>
        <ng-template #loading>
          <mat-progress-bar mode="indeterminate"
                            color="accent"></mat-progress-bar>
        </ng-template>
        <section *ngIf="mpSrc.queryResult$ | async as qr else loading"
                 class="container"
                 fxLayout="column"
                 fxLayoutAlign="start stretch">
          <searchbar label="Search"
                     hint="Use the pipe ('|') character to search multiple values. i.e. - A | B"
                     fxFlex
                     [minimum]="1"
                     (search)="mpSrc.onSearch($event)"
                     (clear)="mpSrc.clearSearch()"></searchbar>
          <section fxLayout="column"
                   fxLayoutAlign="start center"
                   class="container"
                   *ngIf="qr?.data?.length > 0">
            <person-card *ngFor="let p of qr?.data"
                         [blackout]="checkBlackout(p)"
                         [person]="p">
              <button mat-icon-button
                      [disabled]="checkBlackout(p) || checkCapacity()"
                      matTooltip="Add"
                      (click)="addPerson(p)">
                <mat-icon>switch_left</mat-icon>
              </button>
            </person-card>
          </section>
          <p class="mat-subheading-2"
             *ngIf="!(qr?.data?.length > 0)">No People Available</p>
          <mat-paginator class="background default"
                         [length]="qr?.totalCount"
                         [pageSize]="qr?.pageSize"
                         [pageSizeOptions]="mpSrc.pageSizeOptions"
                         [pageIndex]="qr?.page - 1"
                         (page)="mpSrc.onPage($event)"></mat-paginator>
        </section>
      </section>
      <section fxLayout="column"
               fxLayoutAlign="start stretch"
               fxFlex
               class="container">
        <mat-toolbar>Selected People</mat-toolbar>
        <section *ngIf="selected?.length > 0"
                 class="container"
                 fxLayout="column"
                 fxLayoutAlign="start center">
          <person-card *ngFor="let p of selected"
                       [person]="p">
            <button mat-icon-button
                    matTooltip="Remove"
                    (click)="removePerson(p)">
              <mat-icon>switch_right</mat-icon>
            </button>
          </person-card>
        </section>
        <p class="mat-subheading-2"
           *ngIf="!(selected?.length > 0)">No People Selected</p>
      </section>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button
            class="color success"
            (click)="savePeople()">Save</button>
    <button mat-stroked-button
            mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
