<div class="mat-typography">
  <h2 mat-dialog-title>Transfer {{data?.person?.lastName}}, {{data?.person?.firstName}}</h2>
  <mat-dialog-content>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <ng-container *ngIf="manifestSvc.manifestPlanes$ | async as planes else loading">
      <section *ngIf="planes.length > 0"
               fxLayout="column"
               fxLayoutAlign="start center"
               class="container">
        <section *ngFor="let p of planes">
          <plane-card *ngIf="!(p?.altId == data?.person?.parentId)"
                      [plane]="p"
                      (action)="selectPlane($event)"></plane-card>
        </section>
      </section>
      <p class="mat-subheading-2"
         *ngIf="!(planes.length > 0)">No Planes Available</p>
    </ng-container>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button
            mat-dialog-close
            [disabled]="saving">Cancel</button>
  </mat-dialog-actions>
</div>
