<div class="mat-typography">
  <h2 mat-dialog-title>
    <span *ngIf="plane?.id > 0">Update Plane</span>
    <span *ngIf="!(plane?.id > 0)">Add Plane</span>
  </h2>
  <mat-dialog-content>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <section *ngIf="orgSvc.organizations$ | async as organizations else loading"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             class="p8">
      <mat-form-field>
        <mat-label>Organization</mat-label>
        <mat-select [(ngModel)]="plane.organizationId">
          <mat-option *ngFor="let o of organizations"
                      [value]="o.id">{{o?.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Plane Name</mat-label>
        <input matInput
               [(ngModel)]="plane.name" />
      </mat-form-field>
      <p><span class="mat-body-strong">Capacity: </span>{{plane?.capacity}}</p>
      <section fxLayout="row"
               fxLayoutAlign="space-between center">
        <mat-slider fxFlex
                    [value]="plane.capacity"
                    [min]="min"
                    [max]="max"
                    [thumbLabel]="true"
                    [step]="1"
                    [tickInterval]="5"
                    (input)="updateCapacity($event)">
        </mat-slider>
      </section>
    </section>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-stroked-button
            class="color success"
            (click)="savePlane()">Save</button>
    <button mat-stroked-button
            color="warn"
            mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</div>
