<section fxLayout="column"
         fxLayoutAlign="start stretch"
         class="background card m4"
         [ngClass]="plane?.reserved < plane?.capacity ? 'card-outline' : 'card-outline-warn'"
         [style.width.px]="size">
  <section fxLayout="row"
           fxLayoutAlign="space-between center"
           class="p8">
    <strong [style.margin-left.px]="12">{{plane?.name}}</strong>
    <span [style.margin-right.px]="12">{{plane?.reserved}} / {{plane?.capacity}}</span>
  </section>
  <section fxLayout="column"
           fxLayoutAlign="start end"
           class="p8">
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"
                        color="accent"></mat-progress-bar>
    </ng-template>
    <ng-container *ngIf="manifestSvc.people$ | async as people else loading">
      <ng-container *ngIf="people.length > 0">
        <person-detail *ngFor="let person of people"
                       [person]="person"></person-detail>
      </ng-container>
      <p class="mat-subheading-2"
         *ngIf="!(people.length > 0)">No People Assigned</p>
    </ng-container>
  </section>
</section>
