img {
  max-width: 99%;
}

.overflow {
  overflow: auto;
}

.overflow-x {
  overflow-x: auto;
}

.overflow-y {
  overflow-y: auto;
}

.resize {
  resize: both;
}

.resize-horizontal {
  resize: horizontal;
}

.resize-vertical {
  resize: vertical;
}

.cursor-pointer {
  cursor: pointer!important;
}

.cursor-default {
  cursor: default!important;
}

img {
  max-height: 800px;
}

.p4 {
  padding: 4px;
}

.p8 {
  padding: 8px;
}

.p12 {
  padding: 12px;
}

.px4 {
  padding-left: 4px;
  padding-right: 4px;
}

.px8 {
  padding-left: 8px;
  padding-right: 8px;
}

.px12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pt4 {
  padding-top: 4px;
}

.pt8 {
  padding-top: 8px;
}

.pt12 {
  padding-top: 12px;
}

.pr4 {
  padding-right: 4px;
}

.pr8 {
  padding-right: 8px;
}

.pr12 {
  padding-right: 12px;
}

.pb4 {
  padding-bottom: 4px;
}

.pb8 {
  padding-bottom: 8px;
}

.pb12 {
  padding-bottom: 12px;
}

.pl4 {
  padding-left: 4px;
}

.pl8 {
  padding-left: 8px;
}

.pl12 {
  padding-left: 12px;
}

.m4 {
  margin: 4px;
}

.m8 {
  margin: 8px;
}

.m12 {
  margin: 12px;
}

.mx4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx12 {
  margin-left: 12px;
  margin-right: 12px;
}

.my4 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my12 {
  margin-top: 12px;
  margin-bottom: 12px;
}

.mt4 {
  margin-top: 4px;
}

.mt8 {
  margin-top: 8px;
}

.mt12 {
  margin-top: 12px;
}

.mr4 {
  margin-right: 4px;
}

.mr8 {
  margin-right: 8px;
}

.mr12 {
  margin-right: 12px;
}

.mb4 {
  margin-bottom: 4px;
}

.mb8 {
  margin-bottom: 8px;
}

.mb12 {
  margin-bottom: 12px;
}

.ml4 {
  margin-left: 4px;
}

.ml8 {
  margin-left: 8px;
}

.ml12 {
  margin-left: 12px;
}
