<section fxLayout="row"
         fxLayoutAlign="center center"
         class="background card m4 elevated"
         [style.width.px]="size">
  <span class="mat-body-strong p8"
        fxFlex>{{organization?.name}}</span>
  <section fxLayout="row"
           fxLayoutAlign="space-between center"
           class="background stacked p8">
    <button mat-icon-button
            color="warn"
            matTooltip="Remove"
            (click)="remove.emit(organization)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Edit"
            (click)="edit.emit(organization)">
      <mat-icon>edit</mat-icon>
    </button>
  </section>
</section>
