<section fxLayout="row"
         fxLayoutAlign="center center"
         class="background card m4"
         [ngClass]="selected ? 'card-outline-primary' : 'card-outline-divider'"
         [style.width.px]="size">
  <span class="mat-body-strong p8"
        fxFlex>{{branch?.name}}</span>
  <section fxLayout="row"
           fxLayoutAlign="space-between center"
           class="background stacked p8">
    <button mat-icon-button
            color="warn"
            matTooltip="Remove"
            (click)="remove.emit(branch)">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button
            matTooltip="Edit"
            (click)="edit.emit(branch)">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button
            [matTooltip]="selected ? 'Deselect' : 'Select'"
            (click)="select.emit(branch)">
      <mat-icon *ngIf="selected">keyboard_arrow_right</mat-icon>
      <mat-icon *ngIf="!(selected)">keyboard_arrow_left</mat-icon>
    </button>
  </section>
</section>
