<mat-toolbar class="app-toolbar">
  <span class="header-font"
        fxFlex
        *ngIf="!(query?.name)">Query Editor</span>
  <span class="header-font"
        fxFlex
        *ngIf="query?.name">{{query.name}}.sql</span>
  <button mat-stroked-button
          color="primary"
          (click)="addQuery()">Add Query</button>
  <ng-container *ngIf="query">
    <button mat-stroked-button
            (click)="closeQuery()">Close Query</button>
    <button mat-stroked-button
            (click)="saveQuery()">Save Query</button>
    <button mat-stroked-button
            (click)="executeQuery()">Execute Query</button>
  </ng-container>
</mat-toolbar>
<ng-template #loading>
  <mat-progress-bar mode="indeterminate"
                    color="accent"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="querySvc.queries$ | async as queries else loading">
  <section fxLayout="row"
           fxLayoutAlign="start start"
           class="toolbar-container">
    <section fxLayout="column"
             fxLayoutAlign="start stretch"
             fxFlex="20"
             fxLayoutGap="4px"
             class="px4 py8">
      <ng-container *ngIf="queries.length > 0">
        <query-card *ngFor="let q of queries"
                    [query]="q"
                    [selected]="selected(q)"
                    (select)="selectQuery($event)"
                    (remove)="removeQuery($event)"
                    (download)="downloadQuery($event)"
                    (fork)="forkQuery($event)"
                    (edit)="editQuery($event)"></query-card>
      </ng-container>
      <p *ngIf="!(queries.length > 0)"
         class="mat-subheading-2">No Queries Available</p>
    </section>
    <section fxFlex="50"
             fxFill
             class="py8">
      <p class="mat-title mx12"
         *ngIf="!(query)">Select a Query</p>
      <query-editor *ngIf="query"
                    [query]="query"></query-editor>
    </section>
    <section fxFlex="30"
             class="p4 scroll-container"
             fxLayout="column"
             fxLayoutAlign="start stretch"
             *ngIf="results">
      <ng-container *ngIf="results?.length> 0">
        <section class="background card card-outline-divider m4 p8"
                 *ngFor="let result of results">
          <pre class="pre-wrap"><code>{{result | json}}</code></pre>
        </section>
      </ng-container>
    </section>
  </section>
</ng-container>
